# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# CPython
*.so

# Distribution / packaging
dist/
build/
eggs/
*.egg-info/
*.egg

# Virtual Environments
.venv/
venv/
env/
ENV/

# IDEs / editors
.vscode/
.idea/
*.pydevproject
